body
{
    color:black;
    background-image: url("fondptt.jpg");
	font-size: 20px;
	height: 5100px;

}

img 
{ 

 margin-left: 50px;
margin:align ;


}

p
{
    text-align: justify;
  font-family:Courier New, monospace;
  margin-left: 0px;
 
  
}
#ensavoirplus{
margin-left:50px;
margin-top:-250px;
}

h1
{

text-align: center;
border: thin solid white;
width: 1300px;
margin-top:20px;
margin-left:25px;
height: 110px;
background-image:url("kk.jpg");

}
h1 a {
	color:#e6e2d0;
font-family: "Londrina Sketch", sans-serif;
  font-weight: <weight>;
  font-size: 80px;
  text-decoration: none;
font-style: normal;
}
	
h2
{
color:#eac795;
background-color: #10151e;
margin-top:-5px;
margin-left:-6px;
height:75px;
border: thick solid #10151e;
width: 1527px;
font-size:50px;
font-family: "Playfair Display", serif;
text-align: center;
}
h3
{
color:black;
font-weight: bold;
text-decoration: underline; 
font-family:Courier New, monospace;
font-size: 30px;
text-align: justify;
}
a
{
color:black;
font-size: 20px;
font-family:fantasy;
text-align: center;
}
#pipipipi
{
margin-top:0px;
background-color: black    ;
width: 1800px;
height: 150px;
}
#pipi
{
	border: medium dashed #e6e2d0;
background-color: #0e1f3a;
margin-left: 230px;
margin-top: 20px;
width: 1350px;
height: 150px;
}
#corpsdetexte{
	margin-left:150px;
	width:1525px;
	border: thick solid black;
	height:4800px;
	margin-top:50px;
	background-image:url("fondazerty2.jpg");
	background-size:100%;
}
#letexte{
	margin-top: -400px;
	margin-left: 400px;
	width: 1000px;
	}
#machinedeturing{
	margin-top:-15px;
	margin-left: -350px;
	text-align: justify;
  font-family:Courier New, monospace;
}
#photomdt{
	margin-left:900px;
	margin-top:-125px;
	height:100px;
	width:100px;
}
#photos{
	margin-left: 700px;
}
#citationstexte{
	margin-left:700px;
	width: 700px;

}
#citations{
	margin-top: -500px;
}
button {
    font-size: 30px;
    padding: 10px 20px;
    margin-left: 80px;
    cursor: pointer; 
	margin: 10px;
}
#resultat1 {
    font-size: 20px;
    margin-top: 20px;
}
#question1{
	font-size: 25px;
	
}
#kkquestion1{
	text-decoration: underline;
}
#kkquestion2{
	text-decoration: underline;
}
#kkquestion3{
	text-decoration: underline;
}
#kkquestion4{
	text-decoration: underline;
}
#kkquestion5{
	text-decoration: underline;
}
#videostexte{
	font-size:15px;
	margin: 30px;

}
#videotexte{
	font-size:15px;
	margin-top: -50px;
	margin-left: 575px;
}
#lesaviezvous{
	width:1400px;
}