*
{
    font-family: verdana;
}

body
{
    color:white;
    background-color:black;
}

img 
{ 
display: block; 
margin: 0 auto;
}

p
{
    text-align: justify;
	font-family: serif;
}

h1
{
    text-align: center;
	font-family: arial;
}
h2
{
	font-family: arial;
}