*
{
    font-family: times new roman;
}

body
{
    color:#FFFFFFFF;
    background-color:#FF431B;
}

img 
{ 
display: block; 
margin: 0 auto;
}

p
{
    text-align: justify;
    font-family: ink free
}



h1
{
    text-align: center;
}   

{
   color: black;
}
	