*
{
    font-family: arial;
}

body
{
    color:black;
    background-color: white;
}

img 
{ 
display: block; 
margin: 0 auto;
}

p
{
    text-align: justify;
    font-family: verdana;
}

h1
{
    text-align: center;
}