*
{
    font-family: Stencil Std, fantasy;
}

body
{
    color:grey;
    background-color:black;
}

img 
{ 
display: block; 
margin: 0 auto;
}

p
{
    font-family: serif;
    text-align: justify;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
}