*
{
   font-family: 
verdana;
color: black; 
    background-
color: red;
}

body
{
    color: red; 
    background-
color: black;
}

img
{
display: block;
margin: 0 auto;
}

p
{
    text-align:
justify;
    font-family: 
cursive;
}

h3
{
    text-align:
center;
    font-family: 
Georgia, serif;;
    color: black; 
    background-
color: white
}

h1
{
    color: black; 
    background-
color: black;