*
{
    font-family:arial;
}

body
{
    color:noir;
    background-color:#FFFFFF;
}


img 
{ 
display: block; 
margin: 0 auto;
}

p
{
    text-align: justify;
	font-family:LVC;
}

h1
{
    text-align: center;
}
a
{
	color:#FF8C00
	
	
}