*
{
    font-family: courier;
}

body
{
    color:white;
    background-color:green;
}

img 
{ 
display: block; 
margin: 0 auto;
}

p
{
    font-family: verdana;
    text-align: justify;
}

h1
{
    text-align: center;
}