*
{
    font-family: verdana;
}

body
{
    color:red;
    background-color:white;
	
}

img 
{ 
display: block; 
margin: 0 auto;
}
form{
    color:black;
    text-align: justify;
	font-family: arial;
}

p
{
    color:black;
    text-align: justify;
	font-family: arial;
}

h1
{
    text-align: center;
	font-family: papyrus;
}