body
{
    color:black;
    background-color:white;
    font-family: 'Times New Roman';
}



p
{
    text-align: justify;
    font-family: 'Times New Roman';
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
}